.recuitersrow {
  background-color: white;
  display: table;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

.recuitersrow:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.recuitersrowsecond {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid #dee2e6;
}
.recuitersrowsecond img {
  height: 100px;
  max-height: 100%;
  width: auto;
  display: inline-block;
}
